.box__sobre {
    display: none;
}

.navbar {
    display: none;
}

.secao__apresentacao {
    text-align: center;
    background-color: #111111;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0;
    border-radius: 5px;
}

.burguer {
    position: absolute;
    left: 1rem;
    width: 50px;
    height: 50px;
}

.titulo__principal {
    font-weight: 700;
}

.conteudo__texto {
    margin-top: 2rem;
}

.titulo__secundario {
    font-weight: 600;
    margin-top: 2rem;
}

.icones {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone {
    padding: 0.5rem;
}

.secao__wiki {
    text-align: center;
}

.margen__carrossel {
    padding: 0 2rem;
}

.img__carrossel {
    margin-bottom: 3rem;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (min-width: 992px) {
    
    .secao__wiki {
        display: none;
    }   

    .apresentacao {
        display: none;
    }

    .conteudo__texto {
        display: none;
    }

    .icones__link {
        display: none;
    }

    .icones__lojas {
        display: none;
    }

    .navbar {
        display: block;
    }

    .secao__apresentacao {
        background-color: transparent;
        margin: 3rem 0;
    }
    
    .conteudos__apresentacao {
        align-items: center;
        margin-top: 2rem;
        margin: 0 2rem;
    }

    .box__sobre {
        display: block;
        border-radius: 15px;
        width: 100%;
        height: 18rem;
        background-color: #111111;
        padding: 1rem 1rem;
    }

    .img__lobo {
        margin-bottom: 3rem;
    }

    .conteudo__texto--desk {
        margin: 0;
    } 

    .secao__wiki {
        display: block;
        margin-bottom: 3rem;
    }

    .img__carrossel {
        object-fit: cover;
        object-position: 0 1px;
        height: 700px;
    }

    .titulo__corrossel {
        font-size: 2rem;
        font-family: "die";
    }

    .ul__lojas {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .modal-content {
        background-color: black;
    }
}

