@import url("header.css");
@import url("footer.css");

:root {
    --marrom-principal: #BE8F36;
}

@font-face {
    font-family: "die";
    src: url("../font/die nasty.otf");
}

body {
    background-color: black;
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 400;
    color: white;
    scroll-behavior: smooth;
}

